.user-list {
    width: 100%;
    height: 100%;
    padding: 48px 16px;

    @media screen and (min-width: 767px) {
        padding: 48px;
    }
    
    &-header {
        button {
            background-color: #02A8F6;
            color: #fff;
            text-transform: uppercase;
        }
    }

    &-body {
        padding-top: 24px;

        &-table {
            width: 100%;
            background-color: #fff;
        }

        th {
            color: grey;

            @media screen and (max-width: 767px) {
                max-width: 64px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                padding: 0px 4px;
            }
        }

        td {
            color: black;

            @media screen and (max-width: 767px) {
                max-width: 64px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 12px;
                padding: 0px 4px;
            }
        }

        .status {
            color: green;
        }

        .disabled {
            color: red;
        }

        .loader {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }

    }
}